<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div>
    <h2>Login</h2>
    <form th:action="@{/auth/login}" th:object="${authDTO}" method="post">
        <label for="login">Login:</label>
        <input type="text" id="login" th:field="*{login}" required/>
        <label for="senha">Senha:</label>
        <input type="password" id="senha" th:field="*{senha}" required/>
        <button type="submit">Entrar</button>
    </form>
    <p th:if="${error}" th:text="${error}"></p>
</div>
</body>
</html>
